<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container-fluid">
  <div class="top-aligned-row">
    <div class="breadcrumb">
      <% if @distance.any? %>
          <strong>Running distance</strong>
          <%= line_chart @distance, {library: {hAxis: {title: 'Day'}, vAxis: {title: 'Distance'}}} %>
      <% else %>
          <h1>no data for plot, try adding some activities</h1>
      <% end %>
    </div>
    <div class="breadcrumb">
      <% if @speed.any? %>
          <strong>Running speed</strong>
          <%= line_chart @speed, {library: {hAxis: {title: 'Day'}, vAxis: {title: 'MPH'}}} %>
      <% else %>
          <h1>no data for plot, try adding some activities</h1>
      <% end %>
    </div>
  </div>
</div>