<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container-fluid">
  <div class="top-aligned-row">
    <div class="breadcrumb">
      <% if @mass.any? %>
          <strong>Body weight progress</strong>
          <%= line_chart @mass, {library: {hAxis: {title: 'Day'}, vAxis: {title: 'Kg'}}} %>
      <% else %>
          <h1>no data for plot, try adding some activities</h1>
      <% end %>
    </div>
    <div class="breadcrumb">
      <% if @fat.any? %>
          <strong>Fat contents</strong>
          <%= line_chart @fat, {library: {hAxis: {title: 'Day'}, vAxis: {title: '%'}}} %>
      <% else %>
          <h1>no data for plot, try adding some activities</h1>
      <% end %>
    </div>
  </div>
</div>