<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="container-fluid">
  <div class="top-aligned-row">
    <div class="breadcrumb">
      <strong>Body weight progress</strong>
      <%= line_chart @mass, {library: {hAxis: {title: 'Day'}, vAxis: {title: 'Kg'}}} %>
    </div>
    <div class="breadcrumb">
      <strong>Fat contents</strong>
      <%= line_chart @fat, {library: {hAxis: {title: 'Day'}, vAxis: {title: '%'}}} %>
    </div>
  </div>
</div>